// Specific CSS for your home-page
.the-home-page {
}

.first-section {
  margin-bottom: 41vh;
}

.banner {
  background-color: #blue;
}

.banner-title {
  color: white;
  padding: 30px;
  margin-top: 40px;
  background-color: rgba(0,0,0,0.3);

}

.home_video {
 width: 100vw;
 height: 100vh;
 position: absolute;
 display: flex;
 justify-content: center;
 object-fit: cover;
 top: 0;
 z-index: -2;
}

.form-control.form-control-product {
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

.form-control.form-control-search {
  width: 400px;
}


.body {
  font-family: Montserrat;
}

.stars {
  color: grey;
}

.search-button button {
  color: white;
  background-color: #a8475e;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  border: 1px solid #a8475e;
  font-size: 23px;
  width: 50px;
}

.current-position i {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}


.current-position a {
 color: rgba(#000,0.6);
 i:hover {
  color: black;
  transform: scale(1.1, 1.1)
 }
}

.current-position a:hover {
  color: black;
  transform: scale(1.1, 1.1)
 }

 .our-usps {
  background: #F1DFD5;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 260px;
  padding: 0 200px;
 }

.our-usp-item {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  padding: 10px;
  i {
    color: gray;
    background: white;
    font-size: 60px;
    border: 1px solid #D8C8BF;
    border-radius: 55%;
    padding: 25px;
    margin-bottom: 20px;
  }
  h5 {
    color: black;
  }
  .fa-shipping-fast {
    padding: 30px 25px;
  }
}






