// Specific CSS for your home-page
.banner {
  background-color: #blue;
}

.home_video {
 width: 100vw;
 height: 100vh;
 position: absolute;
 display: flex;
 justify-content: center;
 object-fit: cover;
 top: 0;
 z-index: -2;
}

.product-search {

  border-top-left-radius: 10px;
}

.form-control-location {
  border-right-radius: 10px;
}
