.map {
  padding-right: 0;
}

#map {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.input-group {
  max-width: 120px;
  margin-right: 5px;
  height: 20px;
}

.euro-sign {
  background-color: rgba(#A8475E,0.2);
  color: rgba(#000,0.3)
}

input[type=button] {
  background-color: #A8475E;
  border: none;
  border-radius: 20px;
  color: white;
  padding: 5px 12px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  font-size: 15px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.price-search {
color: green;
height: 20px;
}

.subcategory-check {
  background-color: #a8475e;
  opacity: 0.7;
  padding-left: 5px;
  border-radius: 10px;
  min-width: 80px;
}

.subcategory-text label {
    margin: 0;
    padding: 5px;
    font-size: 12px;
    color: white;
  }

.delivery-otions-filter {
    background-color: #A8475E;
  border: none;
  border-radius: 20px;
  color: white;
  padding: 5px 12px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  font-size: 15px;
  margin-top: 20px;
  margin-bottom: 10px;
}