.map {
  padding-right: 0;
}

#map {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.input-group {
  max-width: 90px;
  // margin-right: 5px;
    // margin-top: 20px;
}

.max-price input {
  max-height: 30px;
  border-top-right-radius: 19px;
  border-bottom-right-radius: 20px;
  width: 40px;
  font-size: 10px;
    margin-right: 10px;
}

.min-price input {
  max-height: 30px;
  width: 40px;
  font-size: 10px;
}

.input-group-prepend {
  max-height: 30px;
}

.euro-sign {
  background-color: rgba(#A8475E,0.2);
  color: rgba(#000,0.3)
}

input[type=button] {
  background-color: #A8475E;
  border: none;
  border-radius: 20px;
  color: white;
  padding: 5px 12px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  font-size: 15px;
  // margin-top: 20px;
  margin-bottom: 10px;
}

.price-filter {
  margin-top: 20px;
}


.del-option {
  margin-top: 20px;
  margin-left: 10px;
}

.subcategory-check {
  background-color: #a8475e;
  opacity: 0.7;
  padding-left: 5px;
  border-radius: 10px;
  min-width: 80px;
}

.subcategory-text label {
    margin: 0;
    padding: 5px;
    font-size: 12px;
    color: white;
  }

.delivery-otions-filter {
    background-color: #A8475E;
  border: none;
  border-radius: 20px;
  color: white;
  padding: 5px 12px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  font-size: 10px;
  // margin-top: 20px;
  margin-bottom: 10px;
}

.checkbox-category {
position: absolute;
transform: scale(0);
}

.checkbox-category + label {
 cursor: pointer;
  display: inline-block;
  font-size: 10px;
  border-radius: 50rem;
  padding: 0.1rem 0.5rem;
  background-color: rgba(#A8475E, 0.1);
  color: #A8475E;
  border: 1px solid #A8475E;
  // margin-right: 10px;
  margin-bottom: 0.4rem;
}

.checkbox-category:checked + label {
  background-color: #A8475E;
  color: white;
}

.category-filter {
margin-top: 20px;
margin-right: 0px;
margin-left: 0px;
}


