.product-description {
min-width: 500px;
height: 100%;
justify-content: space-between;
position: relative;
padding-right: 0;
}

.product-description a {
  color: black;
}

.product-description a:hover {
  font-size: 105%;
}

.product-category {
  position: absolute;
  top: 0;
  right: 0;
}

.product-category-design {
  background-color: rgba(#A8475E, 0.1);
  color: rgba(#A8475E,0.8);
  // border-radius: 10px;
  text-align: left;
  padding: 3px 5px;
  margin: 3px 0px;
  font-size: 11px;
  text-align: center;
}

.product-subcategory-design {
  background-color: rgba(#A8475E, 0.05);
  color: rgba(#A8475E,0.8);
  // border-radius: 10px;
  text-align: center;
  padding: 3px 5px;
  font-size: 11px;
}

.product-info {
// font-family: 'Bebas Neue', cursive;
padding: 0px;
}

.back-to-products a {
  color: rgba(#000, 0.6);
  font-size: 13px;
  text-decoration: none;
}

.back-to-products a:hover {
    color: rgba(#000, 0.9);
    transform: scale(1.03, 1.03);
  }

.arrow {
  color: rgba(#000, 0.6);
}

.add-review {
  // border-radius: 20%;
  height: 30px;
  width: 200px;
  color: white;
  border: 1px solid grey;
  text-align: center;
  border-radius: 20px;
  a {
    color:grey;
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    margin-top: 6px;
  }
}

.accordion-button {
  color: rgba(#000, 0.8);
  border: none;
  font-size: 14px;
  background: none;
}

.card-header {
  background: none;
    border: none;
    border-bottom: lightgrey solid 1px;
}

.card-body-accordion {
  color: grey;
  font-size: 12px;
  margin-left: 30px;
  margin-top: 10px;
  font-size: 13px;
}

.location {
  margin-top: 30px;
  font-size: 12px;
}

.delivery-options {
 width: 100%;
    border: rgba(#000, 0.4) solid 1px;
    padding: 8px;
    color: rgba(#000, 0.5)
  }

.add-to-cart-button button {
  background: rgba(#000,0.1);
  width: 100%;
  padding: 8px;
  color: white;
  background: #000;
}

.wishlist-button button {
  background: none;
  color: rgba(#000,0.8);
  border: 1px rgba(#000,0.5) solid;
  width: 100%;
  padding: 8px;
}

.far.fa-heart {
  color: rgba(#000,0.8);
}

.delivery-dropdown-menu {
  font-size: 12px;
  width: 100%;
}

.delivery-dropdown-item {
  font-size: 12px;
}
