.wishlist-item {
  box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;
  margin-bottom: 5px;
  a {
    color: rgba(#000, 0.6);
  text-decoration: none;
  }

  a:hover {
    color: rgba(#000, 0.9);
    text-decoration: none;
  }
}

.wishlist-item-img img {
  height: 100px;
  width: 140px;
  object-fit: cover;
  padding: 5px;
}

.wishlist-item-title {
  width: 200px;
  font-size: 14px;
  padding: 1px;
  text-align: left;
}

.fa-times:before {
  color: lightgray;
  font-style: lighter;
}

.fa-times:hover {
  color: red;
  font-style: lighter;
}

.wishlist-item-amount {
  padding: 5px 25px;
}

.wishlist-item-single-price {
  font-size: 14px;
  display: block;
  text-align: right;
  padding: 0;
}

.wishlist-item-amount-up {
  background-color: lightgray;
  padding: 5px 15px;
}

.wishlist-item-amount-down {
  background-color: lightgray;
  padding: 5px 15px;
}

.wishlist-first-line {
  justify-content: space-between;
  margin-top: 10px;
}

.wishlist-item-delivery-option {
  font-size: 12px;
  margin: 0 0 0 5px;
  padding: 0;
  text-align: left;
}

.fas.fa-trash {
  color: #a8475e;
}

.bottom-line {
  display: flex;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;
  background-color: #F9EBEB;
  margin-top: 5px;
  padding: 5px;
  h6 {
    padding: 5px;
    margin: 5px 20px;
  }
  .total-price {
    margin-right: 100px;
  }
}

.wishlist-item-delete {
  margin: 20px;
  padding: 20px;
  font-size: 18px;
}

.fas.fa-cart-plus {
  font-size: 18px;
  margin-right: 10px;
  color: #a8475e;
  padding-top: 5px;
  padding-bottom: 5px;

}







