<div class="container ml-0 pl-0">
  <div class="row mt-5 ml-0 pl-0">
      <div class="col-2 ml-0 pl-0">
        <%= render "dashboards/sidebar" %>
      </div>
  <div class="col-4"><%= render 'list', chatrooms: @chatrooms, store_chatrooms: @store_chatrooms %></div>
  <div class="col-6 message-area">
    <div class="message-area-text">
      <div class="chat-svg-style">
        <%= image_tag "chat.svg", alt: "alttext" %>
      </div>
    </div>
  </div>
  <div class="col-3"></div>
</div>


