<h1>My messages</h1>
<ul>
  <% @chatrooms.each do |chatroom| %>
  <li><%= chatroom %> <%= link_to "Chatroom", chatroom_path(chatroom)  %> </li>
  <% end %>
</ul>
<ul>
  <% @store_chatrooms.each do |chatroom| %>
  <li><%= chatroom %> <%= link_to "Chatroom", chatroom_path(chatroom)  %> </li>
  <% end %>
</ul>
