<div class="footer-container d-flex justify-content-between">

  <div class="footer-text-left d-flex ml-5">
    <div><p class="mr-3">Copyright</p></div>
    <div><p>Terms and Conditions</p></div>
  </div>

  <div class="socials d-flex mr-5">
    <div><a href="https://www.facebook.com/Goodity.Marktplatz/"><i class="fab fa-facebook-f ml-2"></i></a></div>
    <div><a href="https://www.instagram.com/goodity_marktplatz/"><i class="fab fa-instagram ml-2"></i></a></div>
    <div><a href="mailto:email@example.com"><i class="fas fa-envelope-square ml-2"></i></a></div>
  </div>
</div>


