<div class="container d-flex flex-column justify-content-center ">
<!--
  <video autoplay muted loop id="myVideo">
    <source src="/app/assets/images/ronaldreiter.mp4" type="video/mp4">
    </video>
  -->
<div class="banner mx-auto">
  <h1 class="mt-5 mb-4">
    <span id="banner-typed-text"></span>
  </h1>
  <br>

  <div class="buttons d-flex justify-content-center">
    <%= link_to "See all products", products_path, class: "btn btn-secondary" %>
    <%= link_to "Add a product", new_product_path, class: "btn btn-secondary ml-2" %>
  </div>
  </div>
</div>

