<nav id="sidebar">
  <div class="background-img text-center py-4">
    <% if current_user.avatar.attached? %>
          <%= cl_image_tag current_user.avatar.key, width: 400, height: 400, crop: :crop, radius: :max, gravity: :face, class:"avatar sidebar", id:"navbarDropdown", data: { toggle: "dropdown" }, aria: { haspopup: "true", expanded: "false" }%>
          <% else %>
          <a href="" class="nav-link dropdown-toggle icon" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%= current_user.first_name[0]%><%=  current_user.last_name[0] %></a>
          <% end %>
    <h5 class="sidebar-name"><a href="/dashboard/profile"><%= current_user.full_name %></h5></a>
  </div>
  <ul class="list-unstyled components mb-5">
    <li>
      <a href="/dashboard/profile"><i class="icon-sidebar fas fa-house-user mr-3"></i></i>Profile</a>
    </li>
    <li>
      <a href="/dashboard/wishlist"><i class="icon-sidebar fas fa-heart mr-3"></i>Wishlist</a>
    </li>
    <li>
      <a href="/cart"><i class="icon-sidebar fas fa-shopping-cart mr-3"></i>Cart</a>
    </li>
    <% #if current_user.seller_approved == true %>
    <li>
      <a href="/chatrooms"><i class="icon-sidebar fas fa-comment mr-3"></i>Messages</a>
    </li>
    <li>
      <a href="/"><i class="icon-sidebar fas fa-folder-open mr-3"></i>Listings</a>
    </li>
    <% #end %>
</ul>
</nav>




<!-- <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
  <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#" role="tab" aria-controls="v-pills-home" aria-selected="true">Cart</a>
  <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="/dashboard/profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Profile</a>
  <%#= link_to "Profile", profile_dashboard_path, class:"nav-link", id:"v-pills-profile-tab", role:"tab" %>
  <%#= link_to "Wishlist", wishlist_dashboard_path, class:"nav-link", id:"v-pills-profile-tab", role:"tab" %>
  <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">Messages</a>
  <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">Settings</a>
  <%# if current_user.seller_approved == true %>
  <a class="nav-link" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">listings</a>
  <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">Messages</a>
  <%# end %>
</div>
-->
