.cart-item {
  box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;
  margin-bottom: 5px;
}

.cart-item-img img {
  height: 100px;
  width: 140px;
  object-fit: cover;
  padding: 5px;
}

.cart-item-title {
  width: 200px;
  font-size: 14px;
  padding: 1px;
  text-align: left;
}

.fa-times:before {
  color: lightgray;
  font-style: lighter;
  font-size: 18px;
}

.cart-item-amount {
  padding: 5px 20px;
  font-size: 14px;

}

.cart-item-single-price {
  min-width: 40px;
  font-size: 14px;
  display: block;
  text-align: right;
  padding: 0;
}

.cart-item-delivery-option {
  font-size: 12px;
  margin: 0 0 0 5px;
  padding: 0;
  text-align: left;
}

.cart-item-amount {
  font-size: 14px;
}

.cart-item-amount-up {
  background-color: lightgray;
  padding: 5px 10px;
}

.cart-item-amount-down {
  background-color: lightgray;
  padding: 5px 10px;
}

.first-line {
  justify-content: space-between;
  margin-top: 10px;
}

.fas.fa-trash {
  color: #a8475e;
}

.bottom-line {
  display: flex;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;
  background-color: #F9EBEB;
  margin-top: 5px;
  padding: 5px;
  h6 {
    padding: 5px;
    margin: 5px 20px;
  }
  .total-price {
    margin-right: 100px;
  }
}







