.page-container {
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
}

.footer-container {
  background-color: grey;
  color: white;
  padding: 5px;
  a {
  margin-top: 20px;
  background-color: grey;
  color: white;
  }
  p {
    margin-bottom: auto;
  }
}
// .socials a {
//   color: white;
// }

.content-container {
      display: flex;
    flex-direction: column;
    justify-content: space-between;
}
