// .photos-container {
//   display: grid;
//   grid-template-columns: 900px 1fr;
//   gap: 20px;
//   height: 500px
// }


#highlight-photo {
  object-fit: cover;
  width: 500px;
  height: 140%;
  // max-height: 500px;
}

.photos {
  display: flex;
  max-width: 30px;
}

.photos img {
  width: 100%;
  height: 100px;
  object-fit: cover;
  cursor: pointer;
}

.photos img:hover {
  border: 1px solid black;
}

.product-photos {
  img {
  width: 100px;
  height: 80px;
  object-fit: cover;
  }
}
