.message-card {
  margin-left: 10px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
  padding: 10px 10px;
  height: 100%;
}

.message-card ul {
  padding-left: 0;

  li {
    list-style-type: none;
    margin: 10px 0;
    padding: 15px 10px;
    width: 300px;
    border-bottom: 1px solid lightgray;
  }
}

.message-card-avatar {
  padding: 10px;
  background: blue;
  border-radius: 50%;
  color: white;

}
