.navbar-lewagon {
  justify-content: space-between;
  background: white;
  // border-bottom: 1px solid black;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 150px;
  font-color: red;
}

.lower-navbar {
  background-color: white;
  font-size: 11px;
  border-bottom: 1px solid rgba(#000, 0.1);
  text-align: center;
  content-align: center;
  padding-bottom: 10px;
  a {
  color: rgba(#000,0.5);
  }
  a:hover {
  color: rgba(#000,0.9);
  text-decoration: none;
  transform: scale(1.03, 1.03);
  }
}

.dropdown-item {
  background-color: white;
  font-size: 11px;
  text-align: left;
  padding-left: 5px;
  a {
  // color: rgba(#000,0.5);
  }
}

.category-name {
  margin-left: 40px;
}

.product-search-nav {
  flex-grow: 1;
  border-radius: 40px;
  max-width: 400px;
  height: 30px;
}

.form-control.product-search-nav {
  border: 0.1px solid #grey;
  font-size: 12px;
  width: 300px;
}

.fas.fa-shopping-cart {
  color: #a8475e;
  font-size: 18px;
  margin: 3px;
}

.fas.fa-heart {
  color: #a8475e;
  font-size: 18px;
  margin: 3px;
}

.fas.fa-comment {
  color: #a8475e;
  font-size: 18px;
  margin: 3px;
}

button {
  background: none;
  border: none;
  i {
    color: lightgrey;
  }
}
